[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
requests = "*"
rapidpro-python = "*"
CoreDataModules = {git = "ssh://git@github.com/AfricasVoices/CoreDataModules.git", editable = true, ref = "52add6a71efdaf1ed0b928252ac4038947ed78ec"}
jsonpickle = "*"

[dev-packages]

[requires]
python_version = "2.7"
