[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
requests = "*"
python-dateutil = "*"
rapidpro-python = {git = "https://www.github.com/rapidpro/rapidpro-python", editable = true, ref = "7b65ed889225653a426e7d9188d7f8e5afc1a706"}
CoreDataModules = {git = "https://www.github.com/AfricasVoices/CoreDataModules", editable = true, ref = "v0.3.0"}

[dev-packages]

[requires]
python_version = "3.6"
