[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
coredatamodules = {editable = true,git = "https://www.github.com/AfricasVoices/CoreDataModules",ref = "v0.11.2"}
rapidprotools = {editable = true,git = "https://www.github.com/AfricasVoices/RapidProTools",ref = "get-set-contact-fields"}
pipelineinfrastructure = {editable = true,git = "https://www.github.com/AfricasVoices/Pipeline-Infrastructure",ref = "v0.0.3"}
rapidpro-python = "*"
python-dateutil = "*"

[requires]
python_version = "3.6"
